@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
  }
html, body{
    font-size: 10px;
    max-width: 150rem;
    margin: 0;
    padding: 0;
    --color-white: #FFFFFF;
    --color-black-a:rgba(0, 0, 0, 0.5);
    --color-black: #000000;
    --color-gradient:linear-gradient(200deg, rgba(73, 111, 116, 1), rgba(110, 145, 149, 1), rgba(45, 79, 97, 1));
    --color-blue: rgba(45, 79, 97, 1);
    --color-grey:#A8A8A8;
    --color-light-grey:#CCCCCC;
    font-family: Space Grotesk, sans-serif; 

}
a {
    text-decoration: none;
    color: var(--color-white);
}
p{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-black);
}
span{
 font-weight: 400;   
 font-size: 1.2rem;
 color: var(--color-grey);
}
::placeholder{
    color:var(--color-light-grey);
}

.background{
background: var(--color-gradient);
padding: 10%;
position: relative;
margin: 0 auto;
display: flex;
}
.background> .content{
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    }
    .content .left{
    width: 60%;
    background-color: var(--color-white);
    }
.left .gradient-text{
        
        font-size: 2.4rem;
        font-weight: 700;
        background: linear-gradient(200deg, rgba(73, 111, 116, 1), rgba(110, 145, 149, 1), rgba(45, 79, 97, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 1rem 2.5rem;
        }
.left .started{
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-black);
    text-align: center;
    padding-top: 7rem;
   }
.text-field{
    margin: 1rem 9rem;
}
 .text-field-label {
    display: block;
    margin-bottom: 0.25rem;
   }
  .text-field-input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  color:var(--color-black);
  background-clip: padding-box;
  border: .1px solid var(--color-light-grey);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }  
  .signup-btn{
    width: 75%;
    top: 75%;
    right: -7%;
    background:linear-gradient(200deg, rgba(39, 72, 93, 1), rgba(40, 74, 94, 1));;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 10rem auto 0;
    padding: 1rem;
    cursor: pointer;
   }
 
 .password-bottom{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-light-grey);
 }
 .footer{
    margin: 3rem;
    display: flex;
    justify-content: center;

 }
 .footer-1{
font-weight: 700;
font-size: 1.6rem;
color: #C4C4C4;
 }
 .footer-2 a{
font-weight: 700;
font-size: 1.6rem;
color: #476D73;
 }
 .content .right{
    width: 40%;
    padding-left: 0;
    justify-content: center;
    background: linear-gradient(150deg, rgba(81, 120, 121, 1), rgba(33, 65, 89, 1));
    box-shadow: -.5vh 0vh 1vh .8vh rgba(78, 117, 119, 1);

 }
 .nav{
    width: 85%;
    display: flex;
    justify-content: right;

 }
 .nav .nav-item{
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
   margin: 0.5rem;
  }
  .nav .nav-item a:hover{
color: var(--color-blue);
  }  
.creativity{
font-weight: 700;
font-size: 4.8rem;
color: var(--color-white);
margin-top: 20rem;
text-align: center;
}
.albert{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-white);
    margin-left: 7rem;
}


 
