 *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: normal;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.3rem;
    margin: 0.5rem;
    line-height: 1;
    text-align: center;
  }    
.container{
    width: 100%;
    background-color:  #FBE4FF;
    
    margin: 0 auto;
}
.header{
    width: 100%;
    background-color: #243B93;
    padding: .7rem 2rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    }
.logo{
    display: flex;
    align-items: center;
    padding-left: 5%;
  }
  .header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px 5rem;
    width: 80%;
}
.nav-item{
font-family: PT Sans; 
font-weight: 400px;
font-size: 20px;
line-height: 12px;
display: flex;
justify-content: space-between;
}
.globus{
    margin: 8px;
} 
.header-bottom{
    width: 100%;
    background-color: #BFF0FF;
    padding: 1%;
    } 
.header-bottom .reserve{
        width: 75%;
        margin: 0 auto;
        text-align: left;
        color: #202846;
        font-size: 2.3rem;
        font-style: italic; 
        } 
.oberit-misce{
        width:75%;
        background-color:  #FFFFFF;
        text-align: center;
        margin: 0 auto;
        position: relative;
        padding: 1%;
        } 
.oberit-misce .misce{
margin: 1.5% auto;
color:rgba(0, 0, 0, 0.61);
font-size: 1.5rem;
font-style: italic;
}  
.misce::after {
    content: url(../IMG/strilka.svg);
    position: absolute;
    text-align: right;
    right: 1rem;
}    
.card{
    
background-color: #ADCBD4;   
width:75%;
   margin: 40px auto;
   justify-content: space-evenly;
   display: flex; 
   padding: 1.5rem;
   position: relative;
   transition: all 1s;
 }
 .card *{
    transition: all 1s; 
 }
.card.img> img{
    width: 100%;
}
  .card> .card-description{
    width: 55%;
 }
 .card .card-description_title{
    font-family: PT Sans;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    line-height: 46.58px;
    border-bottom: 3px solid white;
    margin-left: 2rem; 
  }
 .card .card-description_content{
    padding:0.5rem;
    background-color: #EDFBFF;
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    display: flex;
    margin-left: 2rem;
    margin-top: 2.8rem;
 }
.card .star,.card .btn{
    position: absolute;
}
.card .btn{
    top: 75%;
    right: -7%;
    background-color: #243B93;
    color: white;
    width: 210px;
    padding: 15px 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}
.card .star{
    right: 10px;
    top: 10px;
}
.card:hover{
    background-color: #2CBDEB;
}
.card:hover .star path{
    fill: yellow;
}
.card:hover .btn{
    background-color: #EF075B;
}
.strilka_top{
position: fixed;
display: flex;
bottom: 10%;
right: 10%;
z-index: 2;
}
  .footer-osobystyj{
    width: 100%;
    padding: 2%;
    background-image: linear-gradient(100deg,#FFE601,#55D6FF);
 }
.osobystyj{
    font-family: PT Sans; 
    font-style: italic;
    font-weight: 400px;
    font-size: 40px;
    line-height: 70px;
    position: absolute;
    display: flex;
    color: #202846;
    margin-top: -2.2rem;
    margin-left: 250px;
}
.box-cabinet{
   width: 75%;
   margin:4% auto;
   position: relative;
   } 
.box-cabinet>.cabinet{
    background-image: linear-gradient(180deg, rgba(133, 158, 255, 1),rgba(105, 255, 210, 0.5));
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
    padding-top: 2rem;
    box-sizing: border-box;   
}
.cabinet>.ikonka{
   height: 400px;
   width:600px;
   text-align: center;
}
.bottom5{
    background-color: #243B93;
    width: 250px;; 
    height: 50px;
    border: none;
    color: white;        
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    font-size: 30px;
    padding-top: 5px;
    margin:1rem 0rem -14rem 2rem;
  }  
   .bottom6{
    background-color: #EF075B;
    width: 250px;; 
    height: 50px;
    border: none;
    color: white;        
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    font-size: 30px;
    padding-top: 5px;
    margin:3rem 0rem -14rem 2rem;
   }
   .cabinet> .osobysti-dani{
    width: 50%;
    margin:0 auto;
   }
   .osobysti-dani{
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    font-family: PT Sans; 
    font-size: 40px;
    line-height: 70px;
    color: #202846;
    padding-top: 10px;
       }
.osobysti-dani span{
    font-weight: 400;
}       
.osobysti-dani>.prizvysche{
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}
.osobysti-dani>.stat{
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}
.osobysti-dani>.data-narodzhennya{
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}
.osobysti-dani>.mobilnyj{
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}
.btn-vyjty{
    display: block;
    top: 32rem;
    left: 37rem;    
    background-color: #243B93;
    color: #EDFBFF;
    width: 174px;
    height: 50px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    font-family: PT Sans; 
    font-size: 24px;
    padding-top: 10px ;
    text-align: center;
    margin: 3rem auto;
}
.footer-contact{
    width: 100%;
    padding: 2%;
    background-image: linear-gradient(200deg,#FFE601,#55D6FF);
  }
  .footer-contact .contacty{
    width: 75%;
    font-family: PT Sans; 
    font-style: italic;
    font-weight: 400px;
    font-size: 40px;
    line-height: 70px;
    position: absolute;
    display: flex;
    color: #202846;
    margin-top:-1.9rem;
    margin-left: 16rem;
}
.box-contact{
    width: 75%;
    margin:0 auto;
    text-align: center;
}

.contact__card{
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
}
.contact__left{
    display: flex;
    justify-content: space-between;
    width: 55%;
    text-align: left;
}
.left__left{
    width: 50%;
}
.contact__tel{
    width: 66%;
    padding-bottom: 4%;
}
.contact__adress{
    padding-top: 4%;
}
.contact__mail{
    width: 35%;
}
.contact__top{
    border-bottom: 0.1em solid black;
    font-size:35px;
}
.contact__bottom{
    font-size: 35px;
}
.contact__right{
    width: 38%;
    height:20rem;
    border: 0.15em solid rgba(36, 59, 147, 1);
    border-radius: 2em;
}
.contact__right iframe{
    width: 100%;
    height: 100%;
    border-radius: 2em;
}
.footer{
    width: 100%;
    padding: 2%;
    background-color: #243B93;
    position: relative;
}
.footer>.footer-super{
    font-family: PT Sans; 
    font-weight: 700px;
    font-size: 1.1rem;
    position: absolute;
    display: flex;
    color: #FFFFFF;
    margin-top: 0;
    margin-left:10%;
}















   

  














 




 