.header {
    text-transform: capitalize;
    font-family: M PLUS 1;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    padding-left: 378px;
    line-height: 69.5x;
    letter-spacing: 0.10em;
   
}
.header-blue {
    color: #3E45E8;
}
.header-yellow{
    color:#E8C23E
}
.fon{
background-image:url(../IMG/фонове\ зображення.png);
height:766px;
width: 1440px;
font-size: 48px;
font-weight: 600;
line-height: 1.7;
color: white;
display: flex;
align-items: center;
text-align: left;
margin:50px 0px 50px 0px;
background-repeat: no-repeat;
}
.h2{
    font-size: 40px;
    text-align: left;
    margin: 10px 00px 0px 80px
}
.cards > div {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 8%;   
    display: inline-block;
    
    margin: 25px;
    max-width: 1000px;
    vertical-align: top;
}
.C1{
    box-shadow: -4px 4px 5px #0072DB;
  
}
.C2{ 
    box-shadow: 0px 4px 5px #0072DB;
}
.C3{
    box-shadow: 4px 4px 5px #0072DB;
}
.ch1{
    font-family: Roboto, sans-serif ; 
    font-weight: 700;
    font-size: 24px;
    color: #0072DB;
    margin: 10px 00px 30px 5px
    }
.ch2{
    font-family: Roboto, sans-serif ; 
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
    margin: 10px 00px 30px 5px
}
.h3{
    font-size: 40px;
    text-align: left;
    margin: 10px 00px 0px 400px
}
.map{
    margin: 50px 00px 0px 200px
}
.bottom{
    background-color: #2A61F0; 
    border: none;
    color: white;
    padding: 20px 200px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    margin: 30px 00px 30px 450px
}
.footer {
    position:relative;
    width:1440px;
    height: 233px;
    background-image:url(../IMG/Rectangle\ 7.png);
    background-repeat: no-repeat;    
    }
    .footer-blue{
    font-family: Roboto, sans-serif ; 
    font-weight: 700;
    font-size: 46px;
    margin-left:450px;
    letter-spacing: 0.15em;
    color: #3E45E8;
    }
    .footer-yellow{
    font-family: Roboto, sans-serif ; 
    font-weight: 700;
    font-size: 46px;
    margin-left:10px;
    letter-spacing: 0.15em;
    color: #DFE31E;
    }
    .footer-contact{
        font-family: Roboto, sans-serif ; 
        font-weight: 400;
        color: #A89D9D;
        font-size: 36px;
        margin: 00px 00px 0px 450px
       }
    .social-icons {
        text-align: center;
        }  
      .social-icons li {
        display:inline-block;
        list-style-type:none;
        -webkit-user-select:none;
        -moz-user-select:none;
        }
      .social-icons li a {
        border-bottom: none;
        }
      .social-icons li img {
        width: 30px;px;
        height:30px;
        margin-right: 20px;
      }