@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:wght@400;600;700&family=Roboto:wght@500&family=Work+Sans:wght@400;500;700&display=swap');
html, body{
    --color-white: #FFFFFF;
    --color-orange: #FFB742;
    --color-black: #212529;
    --color-grey:#7B7B7B;
    --color-grey-white: #F5FBF2;
    font-size: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
a {
    text-decoration: none;
    text-align: center;
  }  
  span{
    text-decoration: underline;
    color: var(--color-orange);
  }  
.container{
    width: 100%;
    background-color: #212529;
    color: #FFFFFF;
}
.header{
    width: 100%;
    position: relative;
    display: flex;
}
.header .livo-pravo{
    margin: 1rem;
    width: 20%;
    text-align: center;
         
   }
.header .nav{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
   }
.nav > .nav-item{
    font-size: 1.3rem;
    margin: 0.5rem;
    line-height: 1;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    list-style: none;
    }
.nav .nav-item a{
    color: var(--color-white);
}
.nav .nav-item a:hover{
    color: var(--color-orange);
    transition: all .8s;
}
   .header .hire-me{
   width: 20%;
   margin: 1rem;
   text-align: center;
  }
.container .kartik{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
}
.hi{
    font-family: Inter;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem;
    
}
.creative{
    font-family: Inter;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 1rem;
}
.design{
    font-family: Inter;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 3rem; 
}
.cards{
    width:90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    

}
.card:hover{
 background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
 }
 .card:hover  .title, .card:hover .subtitle{
 color: #212529;   
 }
.card{
    width: 31.5%;
    background-color: #292B2E;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    margin-top: 10rem;
    font-family: Inter, sans-serif;
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 1500ms;

 }
 .title{
    font-size: 3.2rem;
    color: var(--color-orange);
     }
.subtitle{
    font-size: 1.6rem;
    color: var(--color-white);
}
.about{
    width: 90%;
    display: flex;
    position: relative;
    margin: 10rem auto 10rem auto;
    justify-content: space-between;
 }
.about> .about-left{
    width:30%;
    
    
}
.about> .about-right{
    width: 50%;
    text-align: left;
    padding: 0 auto;
}
.who-i-am{

}
.about-me{
font-family: Roboto,  sans-serif;
font-size: 4.8rem;
font-weight: 700;
margin: 1rem 0;

}
 .hi{
font-family: Poppins,  sans-serif;
font-size: 1.6rem;
font-weight: 400;
margin: 3rem 0;
 }
 .here-me-btn{
margin: 5rem 0;
 }
 .skills{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
 .skills .skills-left{
    width: 40%;
     }
.my-skills{
padding-left: 0;
     }
.what-my{
    font-family: Roboto, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    padding-top: 1.5rem;
}
.i-develop{
   font-family: Poppins, sans-serif; 
   font-size: 1.6rem;
   font-weight: 400;
   padding-top: 5rem;
}
.hire-me-btn1{
    margin-top: 5rem;
}
 .skills .skills-right{
    width: 50%;
  
 }
 
 .skills-right> .skills-field{
   width: 100%;
   position: relative;
   display: flex;
 }


 .skills-field> .field-top{
width: 100%;
position: relative;
margin: 0% auto;
display: flex;
justify-content: space-evenly;
}
.field-top:hover .ftback {
    background: var(--color-orange);
}   
 .ftback{
    width: 40%;
    background-color: #292B2E;
    display: flex;
    justify-content: space-around;
    padding:8%;
    margin-top: 0rem;
    border-radius: 10%;
    transition: all 0.5s;   
}

.skills-field .field-bottom{
width: 100%;
position: relative;
margin: 20% auto;
display: flex;
justify-content: space-evenly;
 }
 .field-bottom:hover .fbback {
    background: var(--color-orange);
}   
 .fbback{
    width: 40%;
    background-color: #292B2E;
    display: flex;
    justify-content: space-around;
    padding:8%;
    margin-top: 0rem;
    border-radius: 10%;
    transition: all 0.5s;   
}
.works{
    width: 90%;
    margin: 15rem auto;
}
.my-works{
text-align: center;
}
.featured{
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 4.8rem;
text-align: center;
}
.works .works-nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;   
}
.works-nav > .works-nav-item{
    font-size: 1.3rem;
    margin: 0.5rem;
    line-height: 1;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    list-style: none; 
    margin-top: 5rem;
    padding: .5rem;
    
 }
.works-nav > .works-nav-item a{
    color: var(--color-white);
}
.works-nav > .works-nav-item a:hover{
    background-color: var(--color-orange);
    color: var(--color-black);
    transition: all .5s;
}
.image-gallery{
 width: 80%;
 display: flex; 
 margin: 0 auto ; 
 justify-content: center
 }
.column{
display: flex; 
flex-direction: column; 
margin: 0 auto;
justify-content: space-evenly; 
}
 
.image{
 width: 100%; 
 height: 100%;
 margin: 1.5rem;
}
.customer{
    margin: 10rem auto;
    width: 90%;
}
.testimonials{
    margin: 3rem auto;
    text-align: center;
    
}
.what{
 font-family: Roboto, sans-serif;
 font-weight: 700;   
 font-size: 3.9rem;
 text-align: center;
}
.says-cards{
    width: 80%;
    display: flex;
   justify-content:center;
   margin: 0 auto;
  
}
.says-card1, .says-card2, .says-card3{
    width:100%;
    display: inline-block;
    justify-content:space-evenly;
   margin:  1.5rem 1.5rem 20rem 1.5rem ;
    text-align: center;
}
.footer{
    background-color: #1C1C1C;
    width: 100%;
    padding: 10rem;
}
.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-content> .column-one, .column-two, .column-three, .column-four  {
    width: 20%;

    
}
.bansal{
    font-family: Poppins, sans-serif;  
    font-weight: 700;
    font-size: 3.2rem;
    color:#FFB742; 
}
.creative{
    font-family: Work Sans, sans-serif;  
    font-weight: 600;
    font-size: 1.6rem;
    color:#D4D4D4;      
}
.inscription-bold{
  font-family: Work Sans, sans-serif;  
  font-weight: 700;
  font-size: 2rem;
  color:#F5FBF2;
  margin-bottom: 3rem;
}
.inscription{
    font-family: Work Sans, sans-serif;  
    font-weight: 500;
    font-size: 1.7rem;
    color:#7B7B7B; 
    margin-bottom: 1rem;  
}
.inscription a{
    color: var(--color-grey);
}
.inscription a:hover{
    color: var(--color-grey-white);
    transition: all .5s;
}