.header{
background-image: url(../IMG/фон.png);
width:1500px;
height: 700px;
background-repeat: no-repeat;
}
.header_name{
width: 969px;
height: 206px;
background-repeat: no-repeat;
padding-left: 265px;
padding-top: 144px;
text-align: center;
}
.cards_menu{
    font-family: Inter;
    font-style: normal;
    font-weight: 400px;
    font-size: 40px;
    line-height: 48x;
    color: #000000;
    padding-left: 112px;
    padding-top: 382px;
    }
.cards{
    padding-top: 40px;
    margin-top: 120px;
    }
.card_1 {
    width: 400px;
    height: 460px;
    border: 1px solid black;
    background-image: url(../IMG/фон\ картки\ 1.png);
    display: inline-block;
    margin: 15px;
    margin-left: 115px;
    }
.card_2 {
    width: 400px;
    height: 460px;
    border: 1px solid black;
    background-image: url(../IMG/фон\ картки\ 1.png);
    display: inline-block;
    margin: 15px;
    }
.card_3 {
    width: 400px;
    height: 460px;
    border: 1px solid black;
    background-image: url(../IMG/фон\ картки\ 1.png);
    display: inline-block;
    margin: 15px;
   }
.Venice {
padding-top: 20px;
margin-left: 115px;
}   
.footer{
 background-image: url(../IMG/фон\ \(1\).png);   
 width: 1500px;   
 height: 279px;
 margin-top: 30px;
}
.rozvagy{
padding-top: 40px;
padding-left: 419px;
display: inline-block;
}
.restorany{
    padding-top: 20px;
    padding-left: 419px;
    display: inline-block;
    }
.shops{
    padding-top: 20px;
    padding-left: 395px;
    display: inline-block;
    }
.art{
    margin-top: 20px;
    padding-left: 419px;
    display: inline-block;
    }  
.contact{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
    line-height: 27.44x;
    color: #FFFFFF;
    padding-left: 700px;
    padding-top: 0px;  
    letter-spacing: 0.15em;
}    
.social-icons {
    text-align: center;
    }  
  .social-icons li {
    display:inline-block;
   
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width: 30px;px;
    height:30px;
    margin-right: 20px;
  }